AI MSP Service Desk Automation.json
{
  "name": "AI MSP Service Desk Automation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "MSP Support Ticket",
        "formDescription": "Describe your issue and our team (with AI assistance) will get back to you.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "John Doe",
              "requiredField": true
            },
            {
              "fieldLabel": "Company",
              "placeholder": "ABC Company",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "johndoe@gmail.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Problem Description",
              "fieldType": "textarea",
              "placeholder": "e.g. I can't connect to Outlook after changing my password.",
              "requiredField": true
            }
          ]
        },
        "options": {
          "buttonLabel": "Submit Ticket"
        }
      },
      "id": "d4837527-6407-4bb6-850f-f2cb5b614240",
      "name": "Ticket Intake Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1728,
        288
      ],
      "webhookId": "8819fb4d-4174-4b8e-82da-5b326127a363"
    },
    {
      "parameters": {
        "content": "## Ticket Intake\n",
        "height": 152,
        "width": 252,
        "color": 3
      },
      "id": "df1369e2-6b95-4b0d-b524-4f8578d28ef8",
      "name": "Sticky - Intake",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1808,
        464
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const now = new Date();\nconst year = now.getFullYear();\nconst seq = String(Math.floor(Math.random() * 900000) + 100000);\nconst ticketId = `TKT-${year}-${seq}`;\nconst name = ($json['Full Name'] || '').toString().trim();\nconst company = ($json['Company'] || '').toString().trim();\nconst email = ($json['Email'] || '').toString().trim();\nconst problem = ($json['Problem Description'] || '').toString().trim();\nif (!email || !problem) { throw new Error('Missing required fields: email and problem are required.'); }\nreturn { json: { ticketId, createdAt: now.toISOString(), name, company, email, problem, status: 'New' } };"
      },
      "id": "20e65045-5fbe-4473-9967-629c9e59e218",
      "name": "Generate Ticket ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        288
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "7f5feb14-a903-4874-bfcf-82a1348867cc",
      "name": "OpenAI Model - Classifier",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1264,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "so11cSNBhLaPJR3i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"category\":{\"type\":\"string\",\"enum\":[\"Password Reset\",\"Email Issues\",\"VPN\",\"Printer\",\"Microsoft 365\",\"Hardware\",\"New Employee\",\"Security Alert\",\"Unknown\"]},\"priority\":{\"type\":\"string\",\"enum\":[\"Low\",\"Medium\",\"High\",\"Critical\"]},\"department\":{\"type\":\"string\"},\"issue\":{\"type\":\"string\"},\"confidence\":{\"type\":\"number\"}},\"required\":[\"category\",\"priority\",\"department\",\"issue\",\"confidence\"]}"
      },
      "id": "f5d74c58-7ab4-4366-be39-29aad3922212",
      "name": "Classification Schema",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1088,
        528
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer: {{ $json.name }} ({{ $json.company }})\nEmail: {{ $json.email }}\nProblem description: {{ $json.problem }}\n\nClassify this MSP support ticket and return JSON only.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "ROLE\nYou are an automated MSP Level 1 triage classifier. You read a customer's support request and output a structured classification consumed directly by an automation system. Be exact.\n\nCATEGORY (choose exactly one)\nPassword Reset, Email Issues, VPN, Printer, Microsoft 365, Hardware, New Employee, Security Alert, Unknown.\nUse 'Unknown' only when the request genuinely fits none of the above.\n\nPRIORITY (choose exactly one) — judge by business impact and scope:\n- Low: a single user, no deadline, minor inconvenience.\n- Medium: a single user blocked from working, or a routine request with no urgency.\n- High: multiple users affected, OR a named deadline/business event at risk, OR an executive/important role blocked. NOT a full-company outage.\n- Critical: a whole company/department-wide outage, a security breach in progress, or total loss of a core service for many users.\nTake the customer's stated urgency and the number of affected people seriously when assigning priority.\n\nDEPARTMENT\nUsually 'Support'. Use 'HR' for New Employee onboarding and 'Security' for Security Alert.\n\nISSUE\nA short 2-6 word technical summary, e.g. 'Outlook Authentication', 'VPN certificate expired', 'Printer offline'.\n\nCONFIDENCE\nAn integer 0-100 for how certain you are of the CATEGORY. Lower it when the request is vague.\n\nOUTPUT\nReturn ONLY a single valid JSON object with fields: category, priority, department, issue, confidence. No prose, no markdown, no code fences."
        }
      },
      "id": "5a900593-ffd9-408d-9660-9ac0bf5e47a0",
      "name": "AI Classifier",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1264,
        288
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ticket = $('Generate Ticket ID').item.json;\nconst classification = $json.output;\nreturn { json: { ...ticket, classification } };"
      },
      "id": "171edbdb-6427-46e2-bc4a-20dcce42cc40",
      "name": "Normalize Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        288
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iM32cTlCgtCboTo7noKNIsqGLVjYWr7bIJM4993oQM4",
          "mode": "list",
          "cachedResultName": "MSP Knowledge Base",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iM32cTlCgtCboTo7noKNIsqGLVjYWr7bIJM4993oQM4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "KnowledgeBase ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iM32cTlCgtCboTo7noKNIsqGLVjYWr7bIJM4993oQM4/edit#gid=0"
        },
        "options": {}
      },
      "id": "d0d90596-206e-46a0-84f6-b6a6f65cda3e",
      "name": "Knowledge Base Search",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -768,
        288
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H4LZ6kKi7nseNOpU",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const ticket = $('Normalize Classification').first().json;\nconst kbRows = $input.all().map(i => i.json);\n\n// Resilient column lookup: tolerates casing, surrounding whitespace,\n// and header variants like 'Issue ' or 'SOLUTION'.\nfunction pick(row, target) {\n  const want = target.toLowerCase().trim();\n  for (const key of Object.keys(row)) {\n    if (key.toLowerCase().trim() === want) {\n      const v = row[key];\n      return (v === null || v === undefined) ? '' : String(v).trim();\n    }\n  }\n  return '';\n}\n\nconst articles = kbRows\n  .map(r => ({ issue: pick(r, 'Issue'), solution: pick(r, 'Solution') }))\n  .filter(a => a.issue && a.solution);\n\nconst kbContext = articles.length\n  ? articles.map(a => `- Issue: ${a.issue} | Solution: ${a.solution}`).join('\\n')\n  : 'No matching knowledge base articles found.';\n\nreturn [{ json: { ...ticket, kb_context: kbContext, kb_article_count: articles.length } }];"
      },
      "id": "c5d3ddb7-6cb6-4d87-ab8b-b8c8a16560eb",
      "name": "Merge KB Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        288
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "id": "e56006df-6dea-4af5-823c-2da432110538",
      "name": "OpenAI Model - Decision",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -384,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "so11cSNBhLaPJR3i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"action\":{\"type\":\"string\",\"enum\":[\"resolve\",\"escalate\"]},\"resolution_type\":{\"type\":\"string\"},\"resolution_steps\":{\"type\":\"string\"},\"confidence\":{\"type\":\"number\"}},\"required\":[\"action\",\"resolution_type\",\"resolution_steps\",\"confidence\"]}"
      },
      "id": "653077a3-2320-4939-b0bb-75010818d4d7",
      "name": "Decision Schema",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -208,
        528
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=A support ticket has been classified and matched against the knowledge base. Decide whether to resolve or escalate.\n\nTICKET\nTicket ID: {{ $json.ticketId }}\nCategory: {{ $json.classification.category }}\nPriority: {{ $json.classification.priority }}\nDetected issue: {{ $json.classification.issue }}\nClassification confidence: {{ $json.classification.confidence }}\nCustomer's own words: {{ $json.problem }}\n\nKNOWLEDGE BASE ARTICLES (the ONLY source you may use for resolution steps)\n{{ $json.kb_context }}\n\nApply the decision rules in order and return ONLY the JSON object defined in your instructions.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "ROLE\nYou are an automated MSP (Managed Service Provider) Level 1 triage engineer. Your single job is to decide whether an incoming support ticket can be SAFELY resolved by automation right now, or whether it must be ESCALATED to a human engineer. Your output is consumed directly by an automation system, so it must be exact.\n\nDECISION RULES (evaluate in order; the FIRST rule that matches wins)\n1. ESCALATE if classification confidence is below 70. Low confidence means the ticket was not understood well enough to act on automatically.\n2. ESCALATE if the category is 'Security Alert', 'Hardware', or 'New Employee'. These always require human or physical action (security investigation, device handling, HR provisioning) and must never be auto-resolved.\n3. ESCALATE if priority is 'Critical'. Critical incidents require immediate human ownership regardless of whether a KB article exists.\n4. ESCALATE if the Knowledge Base section contains no article whose Issue clearly matches this ticket's problem. You may ONLY resolve using a documented KB solution. If there is no clear match, you must escalate. Never invent steps or rely on outside knowledge.\n5. OTHERWISE RESOLVE. A KB article matches, confidence is adequate, the category is automatable, and priority is not Critical.\n\nOUTPUT CONTRACT\nReturn ONLY a single valid JSON object. No prose, no markdown, no code fences. The JSON must contain exactly these four fields:\n- \"action\": either \"resolve\" or \"escalate\" (lowercase, exactly one of these two strings).\n- \"resolution_type\": a short label naming the fix or the escalation reason (e.g. \"Outlook profile recreation\", \"Password reset\", \"Escalated: no KB match\", \"Escalated: security incident\").\n- \"resolution_steps\": if action is 'resolve', the concrete step-by-step fix taken VERBATIM from the matching KB solution, lightly rewritten as clear customer-facing instructions. If action is 'escalate', a one-sentence explanation of why a human is needed. Never leave this empty.\n- \"confidence\": an integer from 0 to 100 indicating how confident you are in THIS decision (not the classification).\n\nGROUNDING RULE\nWhen resolving, your resolution_steps MUST be derived from the provided Knowledge Base article for that issue. Do not add steps that are not supported by the KB. This prevents hallucinated technical instructions reaching the customer.\n\nEXAMPLES\nExample A (resolve): KB has 'Outlook Authentication -> clear cached credentials and re-add account'. Ticket is Microsoft 365, confidence 92, priority Medium. -> {\"action\":\"resolve\",\"resolution_type\":\"Outlook re-authentication\",\"resolution_steps\":\"Sign out of Outlook, clear the saved password in Windows Credential Manager, then reopen Outlook and sign in with your new password.\",\"confidence\":90}\nExample B (escalate, no match): Ticket is a cracked laptop screen, category Hardware. -> {\"action\":\"escalate\",\"resolution_type\":\"Escalated: hardware repair required\",\"resolution_steps\":\"Physical hardware damage cannot be fixed remotely and needs a technician.\",\"confidence\":97}\nExample C (escalate, security): Suspicious login from unknown country, category Security Alert. -> {\"action\":\"escalate\",\"resolution_type\":\"Escalated: security incident\",\"resolution_steps\":\"Potential account compromise requires immediate human security review.\",\"confidence\":99}"
        }
      },
      "id": "c2aa795b-8839-4c2e-a4d6-66fed7eb6a28",
      "name": "AI Decision Engine",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -384,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond_resolve",
              "leftValue": "={{ $json.output.action }}",
              "rightValue": "resolve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9143e3c6-0389-42ee-99a2-d1354a304621",
      "name": "Can Be Resolved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        288
      ]
    },
    {
      "parameters": {
        "content": "## AI Decision Engine\nL1 Engineer prompt decides resolve vs escalate based on KB match + confidence + category risk.\n\nTRUE → Priority Gate (checks if approval needed)\nFALSE → Human Escalation branch",
        "height": 276,
        "width": 500
      },
      "id": "c5025c07-2ea6-4b78-b8c3-f660b813620a",
      "name": "Sticky - Decision",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        -176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "high_prio",
              "leftValue": "={{ $('Normalize Classification').item.json.classification.priority }}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "crit_prio",
              "leftValue": "={{ $('Normalize Classification').item.json.classification.priority }}",
              "rightValue": "Critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "5745b982-8aa9-48cb-8736-9e5466e25fb0",
      "name": "Priority Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        -80
      ]
    },
    {
      "parameters": {
        "content": "##  Human-in-the-Loop Approval (Slack Buttons)\nHigh priority tickets PAUSE here before any customer communication is sent.\n\nThe *Slack - Approval Request* node uses n8n's built-in Send-and-Wait operation: it posts an interactive message in #service-desk-approvals with two native buttons:\n  ✅ Approve  →  send the automated resolution to the customer\n  ❌ Disapprove  →  escalate to a human engineer\n\nThe reviewer clicks a button directly in Slack — no form, no manual URL. The workflow resumes automatically and routes on {{ $json.data.approved }}.\n\nAuto-resumes (escalates) after 1 hour if no one responds.\n\nNOTE: Your Slack app must have *Interactivity* enabled (Slack app settings → Interactivity & Shortcuts → toggle ON). The Request URL there should point to your n8n instance.",
        "height": 292,
        "width": 792
      },
      "id": "3d5a2b71-43fd-475d-a15a-00f9606a8162",
      "name": "Sticky - Human Approval",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1056,
        -224
      ]
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "service-desk-approvals"
        },
        "message": "=⏳ *High-Priority Ticket — Approval Required*\n\n*Ticket:* {{ $('Normalize Classification').item.json.ticketId }}\n*Customer:* {{ $('Normalize Classification').item.json.name }} ({{ $('Normalize Classification').item.json.company }})\n*Priority:* {{ $('Normalize Classification').item.json.classification.priority }}\n*Category:* {{ $('Normalize Classification').item.json.classification.category }}\n*Problem Description:* {{ $('Ticket Intake Form').item.json['Problem Description'] }}\n*Issue:* {{ $('Normalize Classification').item.json.classification.issue }}\n*AI Resolution Plan:* {{ $('AI Decision Engine').item.json.output.resolution_type }}\n\nApprove to send the automated resolution to the customer, or Disapprove to escalate to a human engineer.",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "✅ Approve",
            "disapproveLabel": "❌ Disapprove"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {}
          }
        }
      },
      "id": "10a40f43-e443-4642-804e-640733c3c463",
      "name": "Slack - Approval Request",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        384,
        -96
      ],
      "webhookId": "54b5ceb7-e300-43a8-a6b3-f6bed49c1f1e",
      "credentials": {
        "slackApi": {
          "id": "AAqJsBmpWwNwWCfc",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "approved_check",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c15fbf63-fbc6-4ce5-8784-ef692e6de2bc",
      "name": "Check Approval Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        -96
      ]
    },
    {
      "parameters": {
        "content": "## Retry Logic + Error Lane\nBoth Gmail nodes use:\n  retryOnFail: true | maxTries: 3 | waitBetweenTries: 30s\nExponential concept: attempt 1 = 30s, attempt 2 = 60s, attempt 3 = 120s.\n\nIf ALL retries fail, the error output activates this lane:\n  → Error Handler logs attempt metadata\n  → Google Sheets records the failure row\n  → Slack #service-desk-engineering alerts the team",
        "height": 292,
        "width": 632
      },
      "id": "e1ba7076-e497-4f3f-9478-5ec9ceec53d2",
      "name": "Sticky - Retry + Error Handling",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        832
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Normalize Classification').item.json.email }}",
        "subject": "=Ticket {{ $('Normalize Classification').item.json.ticketId }} Resolved: {{ $('Normalize Classification').item.json.classification.issue }}",
        "emailType": "text",
        "message": "=Hi {{ $('Normalize Classification').item.json.name }},\n\nYour support ticket {{ $('Normalize Classification').item.json.ticketId }} regarding \"{{ $('Normalize Classification').item.json.classification.issue }}\" has been automatically resolved.\n\nWhat we did:\n{{ $('AI Decision Engine').item.json.output.resolution_steps }}\n\nIf the issue persists, just reply to this email and a technician will follow up.\n\n- MSP Service Desk",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "895930e8-6531-45ce-9839-f768dd772764",
      "name": "Email Customer - Resolved",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        496,
        176
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "webhookId": "e55a3f6b-87a5-4fd9-bed0-2b50f1ca1fcf",
      "credentials": {
        "gmailOAuth2": {
          "id": "bg2EycaIi0sulBsm",
          "name": "Gmail account 4"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "service-desk"
        },
        "text": "=✅ *Ticket {{ $('Normalize Classification').item.json.ticketId }} auto-resolved*\n*Customer:* {{ $('Normalize Classification').item.json.name }} ({{ $('Normalize Classification').item.json.company }})\n*Category:* {{ $('Normalize Classification').item.json.classification.category }}\n*Resolution:* {{ $('AI Decision Engine').item.json.output.resolution_type }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "83ef166f-d2cc-437a-875f-ea5b9b5a56f6",
      "name": "Slack - Notify Resolved",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        720,
        176
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "webhookId": "2157ffd1-9e12-4df8-b9db-1d395531f8aa",
      "credentials": {
        "slackApi": {
          "id": "AAqJsBmpWwNwWCfc",
          "name": "Slack account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1vQhTKHJOb9d9V0zPoM1eLJac2V42GWCQEneESwfW_fQ",
          "mode": "list",
          "cachedResultName": "MSP Ticket Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vQhTKHJOb9d9V0zPoM1eLJac2V42GWCQEneESwfW_fQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Tickets"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ticket ID": "={{ $('Normalize Classification').item.json.ticketId }}",
            "Status": "Resolved",
            "Engineer": "AI Automation",
            "Priority": "={{ $('Normalize Classification').item.json.classification.priority }}",
            "Company": "={{ $('Normalize Classification').item.json.company }}",
            "Issue": "={{ $('Normalize Classification').item.json.classification.issue }}",
            "Resolution": "={{ $('AI Decision Engine').item.json.output.resolution_steps }}",
            "Assigned To": "Automation",
            "Created": "={{ $('Normalize Classification').item.json.createdAt }}",
            "Resolved": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "Ticket ID"
          ],
          "schema": [
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Engineer",
              "displayName": "Engineer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Issue",
              "displayName": "Issue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resolution",
              "displayName": "Resolution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assigned To",
              "displayName": "Assigned To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resolved",
              "displayName": "Resolved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Summary",
              "displayName": "AI Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "44ddb443-3aa3-4196-a1b3-fc02d782d8be",
      "name": "Update Ticket DB - Resolved",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        176
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H4LZ6kKi7nseNOpU",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vQhTKHJOb9d9V0zPoM1eLJac2V42GWCQEneESwfW_fQ",
          "mode": "list",
          "cachedResultName": "MSP Ticket Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vQhTKHJOb9d9V0zPoM1eLJac2V42GWCQEneESwfW_fQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Workflow": "AI MSP Service Desk - Core",
            "Ticket ID": "={{ $('Normalize Classification').item.json.ticketId }}",
            "User": "={{ $('Normalize Classification').item.json.email }}",
            "API Status": "Success",
            "Response": "Auto-resolved"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "API Status",
              "displayName": "API Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "displayName": "Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "93632649-288e-4a5c-90ca-04f26582d678",
      "name": "Log Execution - Resolved",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        176
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H4LZ6kKi7nseNOpU",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Normalize Classification').item.json.email }}",
        "subject": "=Ticket {{ $('Normalize Classification').item.json.ticketId }} Received — A Technician Will Follow Up",
        "emailType": "text",
        "message": "=Hi {{ $('Normalize Classification').item.json.name }},\n\nThanks for reaching out. Your support ticket {{ $('Normalize Classification').item.json.ticketId }} regarding \"{{ $('Normalize Classification').item.json.classification.issue }}\" has been reviewed and requires a closer look from one of our engineers.\n\nPriority: {{ $('Normalize Classification').item.json.classification.priority }}\n\nA technician will be in touch shortly. If this is urgent, please reply to this email or call our support line.\n\n- MSP Service Desk",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "20fd5930-ea2e-40c5-8c74-41fe7cb0b984",
      "name": "Email Customer - Escalated",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        128,
        464
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "webhookId": "e4d554ff-f622-4ab3-9fcc-ef7be9a7b22d",
      "credentials": {
        "gmailOAuth2": {
          "id": "bg2EycaIi0sulBsm",
          "name": "Gmail account 4"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "service-desk-escalations"
        },
        "text": "=🚨 *Ticket {{ $('Normalize Classification').item.json.ticketId }} — Human Review Required*\n*Customer:* {{ $('Normalize Classification').item.json.name }} ({{ $('Normalize Classification').item.json.company }})\n*Priority:* {{ $('Normalize Classification').item.json.classification.priority }}\n*Category:* {{ $('Normalize Classification').item.json.classification.category }}\n*Problem:* {{ $('Normalize Classification').item.json.problem }}\n\nPlease assign a technician and follow up with the customer.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "2a7b3ee5-8fa1-41c9-ad04-c24d1b5dcf89",
      "name": "Slack - Escalation Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        320,
        464
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "webhookId": "bb29d9c7-2d2e-42c3-b8d7-faf27f85e7de",
      "credentials": {
        "slackApi": {
          "id": "AAqJsBmpWwNwWCfc",
          "name": "Slack account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1vQhTKHJOb9d9V0zPoM1eLJac2V42GWCQEneESwfW_fQ",
          "mode": "list",
          "cachedResultName": "MSP Ticket Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vQhTKHJOb9d9V0zPoM1eLJac2V42GWCQEneESwfW_fQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Tickets"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ticket ID": "={{ $('Normalize Classification').item.json.ticketId }}",
            "Status": "Escalated",
            "Engineer": "Pending Assignment",
            "Priority": "={{ $('Normalize Classification').item.json.classification.priority }}",
            "Company": "={{ $('Normalize Classification').item.json.company }}",
            "Issue": "={{ $('Normalize Classification').item.json.classification.issue }}",
            "Resolution": "Pending human review",
            "Assigned To": "Unassigned",
            "Created": "={{ $('Normalize Classification').item.json.createdAt }}"
          },
          "matchingColumns": [
            "Ticket ID"
          ],
          "schema": [
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Engineer",
              "displayName": "Engineer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Issue",
              "displayName": "Issue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resolution",
              "displayName": "Resolution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assigned To",
              "displayName": "Assigned To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resolved",
              "displayName": "Resolved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Summary",
              "displayName": "AI Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ab80d155-6c81-47f1-a6e3-3eb083a9950d",
      "name": "Update Ticket DB - Escalated",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        464
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H4LZ6kKi7nseNOpU",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vQhTKHJOb9d9V0zPoM1eLJac2V42GWCQEneESwfW_fQ",
          "mode": "list",
          "cachedResultName": "MSP Ticket Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vQhTKHJOb9d9V0zPoM1eLJac2V42GWCQEneESwfW_fQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Workflow": "AI MSP Service Desk - Core",
            "Ticket ID": "={{ $('Normalize Classification').item.json.ticketId }}",
            "User": "={{ $('Normalize Classification').item.json.email }}",
            "API Status": "Escalated",
            "Response": "Routed to human engineer"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "API Status",
              "displayName": "API Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "displayName": "Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fa166b7e-8a96-41b6-b38e-ce7bca2bedd5",
      "name": "Log Execution - Escalated",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        464
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H4LZ6kKi7nseNOpU",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "38eaca4a-a31a-47ed-8be3-8635eff447da",
      "name": "Ticket Processing Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1376,
        320
      ]
    },
    {
      "parameters": {
        "content": "## Logging\nEvery branch writes to Logs sheet (timestamp, workflow, ticket, user, status, response) and upserts Tickets sheet.",
        "height": 204,
        "width": 448
      },
      "id": "da3f75fb-be59-419e-8424-13a897c37153",
      "name": "Sticky - Logging",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1504,
        736
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Exponential backoff: 30s -> 60s -> 120s (3 attempts, all exhausted)\nconst retrySchedule = [\n  { attempt: 1, waitSeconds: 30 },\n  { attempt: 2, waitSeconds: 60 },\n  { attempt: 3, waitSeconds: 120 }\n];\nconst ticketId = $('Normalize Classification').item?.json?.ticketId || 'UNKNOWN';\nconst email = $('Normalize Classification').item?.json?.email || 'UNKNOWN';\nconst errorMsg = $json.error?.message || $json.error?.description || JSON.stringify($json).slice(0, 200);\nreturn {\n  json: {\n    ticketId,\n    email,\n    errorMessage: errorMsg,\n    retrySchedule,\n    failedAt: new Date().toISOString(),\n    workflow: 'AI MSP Service Desk - Core',\n    note: 'All 3 retries exhausted with exponential backoff (30s, 60s, 120s). Manual intervention required.'\n  }\n};"
      },
      "id": "34799175-7317-4e4e-aa63-c08cb7ec5e3b",
      "name": "Error Handler - Email Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        800
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vQhTKHJOb9d9V0zPoM1eLJac2V42GWCQEneESwfW_fQ",
          "mode": "list",
          "cachedResultName": "MSP Ticket Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vQhTKHJOb9d9V0zPoM1eLJac2V42GWCQEneESwfW_fQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Workflow": "={{ $json.workflow }}",
            "Ticket ID": "={{ $json.ticketId }}",
            "User": "={{ $json.email }}",
            "API Status": "ERROR",
            "Response": "Email delivery failed after 3 retries (30s/60s/120s backoff)",
            "Error": "={{ $json.errorMessage }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "API Status",
              "displayName": "API Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "displayName": "Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ea14e405-2eff-4110-a694-27e348b07551",
      "name": "Log Error to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H4LZ6kKi7nseNOpU",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "service-desk-engineering"
        },
        "text": "=🔴 *Email Delivery Failed — Manual Intervention Required*\n\n*Ticket:* {{ $('Generate Ticket ID').item.json.ticketId }}\n*Customer email:* {{ $('Generate Ticket ID').item.json.email }}\n*Problem: {{ $('Ticket Intake Form').item.json['Problem Description'] }}\n*Retried:* 3× with exponential backoff (30s, 60s, 120s)\n\nPlease contact the customer directly and investigate Gmail credentials.",
        "otherOptions": {}
      },
      "id": "cd795e18-5df0-4b8a-a2d8-a97ba72edef0",
      "name": "Slack - Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        944,
        800
      ],
      "webhookId": "9ef61e2d-e20f-4b73-a7c6-ebf66fe9105a",
      "credentials": {
        "slackApi": {
          "id": "AAqJsBmpWwNwWCfc",
          "name": "Slack account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## AI CLlassifier\n\nTags it by Category, Priority, and Confidence",
        "height": 216,
        "width": 412
      },
      "id": "09cdb192-4e63-44aa-8a19-cef85b0bf451",
      "name": "Sticky - Intake1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1440,
        -144
      ]
    },
    {
      "parameters": {
        "content": "Classify output into one clean object\n",
        "height": 104,
        "width": 252
      },
      "id": "261baca4-5d30-47ec-b486-5a5f785cc077",
      "name": "Sticky - Intake2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1184,
        896
      ]
    },
    {
      "parameters": {
        "content": "architecture can be adapted to operational reporting, restaurant analytics, lead management, customer service automation, and executive dashboards across multiple businesses.",
        "height": 200,
        "width": 572,
        "color": 5
      },
      "id": "159630af-35d8-450e-b0fd-d501363e8fd9",
      "name": "Sticky - Intake3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        1024
      ]
    },
    {
      "parameters": {
        "content": "Pulls documented issue and solution whether a fix already exists\n",
        "height": 104,
        "width": 268
      },
      "id": "6fd85806-0960-4fdb-a2d7-e050d2bad913",
      "name": "Sticky - Intake4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -736,
        880
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Ticket Intake Form": {
      "main": [
        [
          {
            "node": "Generate Ticket ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Ticket ID": {
      "main": [
        [
          {
            "node": "AI Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Classifier": {
      "ai_languageModel": [
        [
          {
            "node": "AI Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classification Schema": {
      "ai_outputParser": [
        [
          {
            "node": "AI Classifier",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Classifier": {
      "main": [
        [
          {
            "node": "Normalize Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Classification": {
      "main": [
        [
          {
            "node": "Knowledge Base Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base Search": {
      "main": [
        [
          {
            "node": "Merge KB Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge KB Context": {
      "main": [
        [
          {
            "node": "AI Decision Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Decision": {
      "ai_languageModel": [
        [
          {
            "node": "AI Decision Engine",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Decision Schema": {
      "ai_outputParser": [
        [
          {
            "node": "AI Decision Engine",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Decision Engine": {
      "main": [
        [
          {
            "node": "Can Be Resolved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Be Resolved?": {
      "main": [
        [
          {
            "node": "Priority Gate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Customer - Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Priority Gate": {
      "main": [
        [
          {
            "node": "Slack - Approval Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Customer - Resolved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Approval Decision": {
      "main": [
        [
          {
            "node": "Email Customer - Resolved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Customer - Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Customer - Resolved": {
      "main": [
        [
          {
            "node": "Slack - Notify Resolved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler - Email Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Notify Resolved": {
      "main": [
        [
          {
            "node": "Update Ticket DB - Resolved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Ticket DB - Resolved": {
      "main": [
        [
          {
            "node": "Log Execution - Resolved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Execution - Resolved": {
      "main": [
        [
          {
            "node": "Ticket Processing Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Customer - Escalated": {
      "main": [
        [
          {
            "node": "Slack - Escalation Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler - Email Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Escalation Alert": {
      "main": [
        [
          {
            "node": "Update Ticket DB - Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Ticket DB - Escalated": {
      "main": [
        [
          {
            "node": "Log Execution - Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Execution - Escalated": {
      "main": [
        [
          {
            "node": "Ticket Processing Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler - Email Failure": {
      "main": [
        [
          {
            "node": "Log Error to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error to Sheets": {
      "main": [
        [
          {
            "node": "Slack - Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Approval Request": {
      "main": [
        [
          {
            "node": "Check Approval Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "cUkyEUyAWZQmZ4H9",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "eb2ac7c6-ddca-48ec-ae2f-13b0536e145e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e30bb2cf7aba2fb818c8c3aad8875f7fd246a42d95bae652044a35a52fabffe"
  },
  "nodeGroups": [],
  "id": "qgz5RdFYGMwJZazb",
  "tags": []
}